ion-segment-view {
  height: 100%;
}

ion-header {
    background-color: transparent;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: var(--ion-color-secondary);
    padding: 10px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ion-title {
    font-size: 1.7rem;
}

ion-toolbar::part(container) {
    --background: transparent;
    background-color: transparent;
}

ion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

.ranking-toolbar {
    --background: transparent;
    // color: white;
    --box-shadow: none;
    border-radius: 10px;

    @media (min-width: 748px) {
        width: 40%;
    }

    @media (max-width: 748px) {
        width: 70%;
    }
}

ion-segment-button {
    color: var(--ion-color-primary);
}