<ion-header [translucent]="true" style="--background: transparent; box-shadow: none;">
  <ion-toolbar style="--background: transparent; border: none; box-shadow: none; width: 100%;">
    <ion-item style="--background: transparent;" lines="none">
      <ion-button fill="clear" id="follow-unfollow-button" slot="end" (click)="this.followed() ? unfollow() : follow()">
        <ion-text>{{this.followed() ? 'Unfollow' : 'follow'}}</ion-text>
      </ion-button>
      @if (!this.reported()) {
        <ion-button fill="clear" id="report-button" slot="start" (click)="report()">
          <ion-text>Report</ion-text>
        </ion-button>
      }
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vist-profile-page</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (this.visitedUser() !== null && this.visitedUser() !== undefined) {
    <app-profile-page-body [user]="this.visitedUser()" (onRefresh)="this.refreshUser()"></app-profile-page-body>
  }
</ion-content>
