<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Workouts</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="exercises">
    @if (authService.currentSession()) {
    <ion-card class="active-session" [button]="true" routerLink="/session">
      Sessione Corrente - {{authService.currentSession()?.nome}}
    </ion-card>
    }
    @for (workout of workouts(); track workout.id) {
    <ion-card class="workout-card" [button]="true" (click)="goToWorkout(workout.id)">
      <div class="title">
        <h1>{{workout.nome}}</h1>
      </div>
      <div class="tags">
        @for (tag of workout.tags; track tag) {
        <ion-chip>
          {{tag}}
        </ion-chip>
        }
      </div>
    </ion-card>
    }
  </div>
  <ion-fab slot="fixed" horizontal="center" vertical="bottom" (click)="goToWorkout(null)">
    <ion-fab-button color="secondary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>