<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>{{sessionInfo().nome}}</ion-title>
    <ion-button slot="end" class="close-button" (click)="close()">Close</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="head">
    <div class="date-time">
      <p>{{sessionInfo().timestamp | datefy}}</p>
    </div>
    <div class="xp">
      <p>{{sessionInfo().xp | toInt}}</p><ion-icon color="secondary" name="flash-outline"></ion-icon>
    </div>
  </div>
  <div class="exercises">
    @for (exercise of sessionInfo().exercises; track exercise) {
    <div class="exercise">
      <div class="header">
        <div class="avatar">
          <ion-img src={{exercise.exercisePhotoUrl}}></ion-img>
        </div>
        <div class="infos">
          <div class="name">
            <h1>{{exercise.nome}}</h1>
          </div>
        </div>
      </div>
      <div class="tags">
        @for (tag of exercise.tags; track tag) {
        <ion-chip>
          {{tag.nome}} {{tag.perc + '%'}}
        </ion-chip>
        }
      </div>
      <div class="series">
        @for (serie of exercise.serie; track serie) {
        <div class="serie">
          <div class="peso">
            <p>Peso</p>
            <h2>{{serie.peso}}</h2>
          </div>
          <div class="reps">
            <p>Ripetizioni</p>
            <h2>{{serie.reps}}</h2>
          </div>
          <div class="recupero">
            <p>Recupero</p>
            <h2>{{serie.recuperoMs | betterMsViewer}}</h2>
          </div>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <ion-fab (click)="openChartModal()" slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button color="secondary">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>