<ion-content [fullscreen]="true">
  <div class="register">
    <div class="register-header">
      <h1>Register</h1>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-input
        formControlName="username"
        label="Username"
        class="custom"
        label-placement="floating"
        placeholder="Enter username"
        [counter]="true"
        [minlength]="usernameMinLength()"
        [maxlength]="usernameMaxLength()"
        [errorText]="usernameErrorText()">
      </ion-input>
      <ion-input
        formControlName="email"
        type="email"
        label="Email"
        class="custom"
        label-placement="floating"
        placeholder="Enter email"
        errorText="Invalid email (es: try@again.please)">
      </ion-input>
      <ion-input
        formControlName="password"
        type="password"
        label="Password"
        class="custom"
        label-placement="floating"
        placeholder="Enter password"
        [counter]="true"
        [minlength]="passwordMinLength()"
        [maxlength]="passwordMaxLength()"
        [errorText]="passwordErrorText()">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <div class="pa">
        <ion-input
          formControlName="weight"
          type="number"
          formControlName="weight"
          label="Weight"
          class="custom"
          label-placement="floating"
          inputmode="numeric"
          placeholder="Enter weight"
          [errorText]="weightErrorText()">
        </ion-input>
        <ion-input
          formControlName="height"
          type="number"
          formControlName="height"
          label="Height"
          class="custom"
          label-placement="floating"
          inputmode="numeric"
          placeholder="Enter height"
          [errorText]="heightErrorText()">
        </ion-input>
      </div>
      <div class="submit">
        <ion-button type="submit" fill="outline" [disabled]="registerForm.invalid">Register</ion-button>
        <p>Have an account? <ion-router-link routerLink="/pts" style="text-decoration: none; cursor: pointer; font-weight: bolder;"><ion-text
              color="primary">Sign In</ion-text></ion-router-link></p>
      </div>
    </form>
  </div>
</ion-content>