:host {
  --desktop-max-width: 60vw;
}

.main-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-header {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  color: var(--ion-color-dark);
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.exercises-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 80px;

  @media (min-width: 748px) {
    max-width: var(--desktop-max-width);
    width: var(--desktop-max-width);
  }
}

.exercise-card {
  background: var(--ion-color-secondary);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  .exercise-info {
    display: flex;
    gap: 12px;
    margin-bottom: 15px;

    .avatar {
      width: 60px;
      height: 60px;
      background: var(--ion-color-secondary);
      border-radius: 12px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .details {
      h2 {
        margin: 0 0 6px 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--ion-color-dark);
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        .tag-badge {
          background: var(--ion-color-dark);
          color: var(--ion-color-secondary);
          padding: 2px 8px;
          border-radius: 6px;
          font-size: 0.7rem;
          font-weight: 600;
          text-transform: uppercase;
          
          small {
            font-size: 0.6rem;
            opacity: 0.8;
            margin-left: 2px;
          }
        }
      }
    }
  }
}

.series-table {
  background: var(--ion-color-dark);
  border-radius: 12px;
  padding: 8px;

  .table-header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    padding: 8px;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--ion-color-light);
    text-transform: uppercase;
    text-align: center;
  }

  .serie-row {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    padding: 10px 8px;
    border-top: 1px solid #333;
    align-items: center;
    text-align: center;
    color: var(--ion-color-secondary);

    .index {
      color: var(--accent);
      font-weight: bold;
    }
    .weight {
      font-weight: bold;
    }
    .reps {
      font-size: 1.1rem;
    }
    .rest {
      font-size: 0.85rem;
      // color: #a0a0a0;
    }
    .valid {
      font-size: 1.5rem;
    }
    
    small {
      font-size: 0.7rem;
      color: var(--ion-color-light);
      margin-left: 2px;
    }
  }
}

ion-fab-list {
  transition: all 300ms ease-in-out;
}