#main-container {
  @media (max-width: 748px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }
  
  @media (min-width: 748px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;

    height: 80vh;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 10vw;
    margin-right: 10vw;

    overflow-y: auto;
    scrollbar-width: thin;
  }
}

ion-card {
  border-radius: 10px;
  background-color: var(--ion-color-secondary);
}

ion-list {
  background-color: var(--ion-color-secondary);
}

#header-cards {
  flex-shrink: 0;
}

#sessions-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  
  ion-card-header {
    flex-shrink: 0;
  }

  ion-card-content {
    overflow-y: scroll !important;
    scrollbar-width: none;
    padding: 0;
  }
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
  border-top: 1px solid var(--ion-color-tertiary);
  padding-top: 15px;
}

.metric-item {
  display: flex;
  flex-direction: column;

  .val {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .lab {
    font-size: 0.7rem;
    color: var(--ion-color-medium);
    text-transform: uppercase;
  }
}

.social-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

  .stat-btn {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

    .label {
      font-size: 1rem;
      color: var(--ion-color-tertiary);
      text-transform: uppercase;
    }

    .value {
      font-size: 1.2rem;
      font-weight: 800;
    }
  }
}

.progress-card {
  ion-card-content {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .progress-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-bottom: 10px;

      .progress-info {
        flex: 1;
      }

      p {
        margin: 5px 0 0 0;
        font-size: 1.2rem;
        font-weight: 600;
      }

      small {
        margin: 5px 0 0 0;
        font-size: 0.9rem;
      }
    }
  }
}

.avatar-section {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;s

  ion-avatar {
    width: 96px;
    height: 96px;
  }
}

.user-details {
  text-align: center;
  margin-bottom: 20px;

  .username {
    margin: 0;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .full-name {
    margin: 5px 0;
    color: var(--ion-color-medium);
  }

  .nationality {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--ion-color-tertiary);
  }
}

.pt-card {
  ion-card-content {
    display: flex;
    justify-content: space-around;

    .pt-field {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 5px;

      label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--ion-color-tertiary);
      }

      span {
        color: var(--ion-color-dark);
        letter-spacing: 1px;
      }
    }
  }

}

.level-avatar {
  position: relative;
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.no-sessions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  span {
    color: var(--ion-color-tertiary);
    text-decoration: underline;
  }
}