<div id="main-container">
  <div id="header-cards">
    <ion-card id="user-info-card">
      <ion-card-header>
        <ion-avatar>
          <img [src]="this.hasPropic() ? this.user()?.propic : 'assets/icon/favicon.png'" alt="propic">
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <div id="user-info-content">
          <div id="social">
            <ion-item lines="none">
              <ion-button id="following" slot="start" (click)="openFollowingModal()">
                <ion-text>following</ion-text>
                <ion-text>{{this.user()?.following}}</ion-text>
              </ion-button>
              <ion-button id="followers" slot="end" (click)="openFollowersModal()">
                <ion-text>followers</ion-text>
                <ion-text>{{this.user()?.followers}}</ion-text>
              </ion-button>
            </ion-item>
            <ion-item lines="none">
              <div id="infos">
                <div id="strings">
                  <div id="username">
                    <ion-text>{{this.user()?.username}}</ion-text>
                    @if (this.isPT()) {
                      <ion-badge>
                        <ion-icon name="barbell-outline"></ion-icon>
                      </ion-badge>
                    }
                    @if (this.verified()) {
                      <ion-badge>
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                      </ion-badge>
                    }
                  </div>
                  <div id="name">
                    @if (this.hasName()) {
                      <ion-text>{{this.user()?.name}}</ion-text>
                    }
                    {{" "}}
                    @if (this.hasSurname()) {
                      <ion-text>{{this.user()?.surname}}</ion-text>
                    }
                  </div>
                  <div id="nationality">
                    @if (this.hasNationality()) {
                      <ion-text>{{this.user()?.nationality?.name}}</ion-text>
                    }
                  </div>
                </div>
                <div id="numerics">
                  <div id="age">
                    @if (this.hasBirthdate()) {
                      <ion-text>{{this.age()}} yo</ion-text>
                    }
                  </div>
                  <div id="height">
                    <ion-text>{{this.user()?.height}} cm</ion-text>
                  </div>
                  <div id="weight">
                    <ion-text>{{this.user()?.weight}} kg</ion-text>
                  </div>
                </div>
              </div>
            </ion-item>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  
    <ion-card id="progress-info">
      <ion-card-content>
        <div id="seasonal">
          <ion-avatar>
            <img src='../../../../assets/icon/favicon.png' alt="seasonal">
          </ion-avatar>
            <div id="seasonal-progress-bar"></div>
            <ion-text>Level: {{this.user()?.sLevel}}</ion-text>
        </div>
        <div id="global">
          <ion-avatar>
            <img src='../../../../assets/icon/favicon.png' alt="global">
          </ion-avatar>
            <div id="global-progress-bar"></div>
            <ion-text>Rank: {{this.user()?.gLevel}}</ion-text>
        </div>
      </ion-card-content>
    </ion-card>
    @if (this.isPT()) {
      <ion-card id="pt-info" button (click)="openPTInfoModal()">
        <ion-card-content>
          <div id="proemail">
            <p>Professional Email</p>
            <ion-text>{{this.user()?.pt?.proEmail}}</ion-text>
          </div>
          <div id="gym">
            <p>Gym</p>
            <ion-text>{{this.user()?.pt?.gym?.name}}</ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    }
  </div>
  
  <ion-card id="sessions-card">
    <ion-card-header>
      <p>
        {{this.sameAsProfile() ? 'Your sessions' : this.user()?.username + '\'s sessions'}} ({{this.sessions().length}})
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-list id="sessions-list">
        @for (item of sessions(); track item.id) {
          <app-session-card [session]="item" (onClick)="openSessionModal(item)"></app-session-card>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>