<ion-card class="container" [button]="true" (click)="openModal()">
  <div class="user-info">
    <div class="user">
      <ion-avatar>
        <img src={{avatarUrl}} />
      </ion-avatar>
      <div class="username">
        <p>{{username}}</p>
        @if (verified) {
          <ion-icon name="checkmark-circle-outline" color="white"></ion-icon>
        }
        @if (pt) {
          <ion-icon name="barbell-outline" color="white"></ion-icon>
        }
      </div>
    </div>
  </div>
  <div class="session">
    <h1>{{sessionName}}</h1>
  </div>
  <div class="tags">
    @for (tag of tags; track tag) {
    <ion-chip color="secondary">
      <ion-icon name="barbell-outline">
      </ion-icon>
      <ion-label>{{tag}}</ion-label>
    </ion-chip>
    }
  </div>
</ion-card>