<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>Feed</ion-title>
      <ion-button fill="outline" id="open-pt-search-modal">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="sessions">
    @for (user of user_sessions(); track user) {
    <app-user-card id="open-session-modal" [username]="user.username" [sessionName]="user.sessionName"
      [gainedXP]="user.gainedXP" [tags]="user.tags" [avatarUrl]="user.avatarUrl || '/assets/icon/favicon.png'" [verified]="user.verified"
      [pt]="user.pt" [sessionId]="user.sessionId"></app-user-card>
    }
    @empty {
    <p>It’s pretty lonely here! Use the search button to start looking for someone to follow.</p>
    }
  </div>
  <ion-modal #ptSearchModal trigger="open-pt-search-modal" [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]" [expandToScroll]="false">
    <ng-template>
      <ion-content>
        <ion-searchbar placeholder="Search" (click)="ptSearchModal.setCurrentBreakpoint(0.75)" (ionInput)="searchUser($event)"></ion-searchbar>
        <ion-list>
          @for (user of users(); track $index;) {
          <ion-item button (click)="visitProfile(user.username)">
            <ion-avatar slot="start">
              <img [src]="user.avatarUrl ? user.avatarUrl : '/assets/icon/favicon.png'" alt="avatar" />
            </ion-avatar>
            <ion-label>{{ user.username }}</ion-label>
          </ion-item>
          }
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>