<ion-content [fullscreen]="true">
  <form [formGroup]="this.userForm" (ngSubmit)="confirmChanges()">
    <div id="user-container">
      <div id="user-header" (click)="fileInput.click()" style="cursor: pointer;">
      <img [src]="imagePreview() || user()?.propic || '/assets/icon/favicon.png'" alt="propic">
      <input 
      #fileInput
      type="file" 
      (change)="onFileSelected($event)" 
      accept="image/*" 
      style="display: none;">
    </div>
    <div id="user-info-container">
      <ion-item lines="inset">
        <ion-input
          formControlName="username"
          label="Username",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          [required]="this.verified()"
          formControlName="name"
          label="Name",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          [required]="this.verified()"
          formControlName="surname"
          label="Surname",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          formControlName="email"
          label="Email",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          [required]="this.verified()"
          type="date"
          formControlName="birthdate"
          label="Birthdate",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          formControlName="weight"
          type="number"
          label="Weight",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-input
          formControlName="height",
          type="number"
          label="Height",
          labelPlacement="floating">
        </ion-input>
      </ion-item>
      <ion-item lines="inset">
        <ion-select
        [required]="this.verified()"
        label="Nation" 
          labelPlacement="floating" 
          formControlName="nationality" 
          interface="modal"
          [compareWith]="compareNationalities">
          @for (item of this.nations(); track item.id) {
            <ion-select-option [value]="item">{{ item.name }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </div>
    </div>
    @if (this.isPT()) {
      <div id="pt-container">
        <div id="pt-info-container">
          <ion-item>
            <ion-input
              formControlName="proemail"
              label="Professional Email",
              labelPlacement="floating">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-select
              [compareWith]="compareCities"
              label="City" 
              labelPlacement="floating" 
              formControlName="city" 
              interface="modal">
              @for (item of this.cities(); track item.id) {
                <ion-select-option [value]="item">{{ item.name }} ({{item.nation.name}})</ion-select-option>
              }
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select 
              [compareWith]="compareGyms"
              label="Gym" 
              labelPlacement="floating" 
              formControlName="gym" 
              interface="modal"
              (ionChange)="gymChanged($event)">
              @for (item of this.gyms(); track item.id) {
                <ion-select-option [value]="item">{{ item.name }} ({{ item.address }})</ion-select-option>
              }
              <ion-select-option value="ADD_NEW" class="add-new-option">Add new gym</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    }
    <ion-button type="submit" [disabled]="userForm.invalid">
      Confirm Changes
    </ion-button>
  </form>
</ion-content>