<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Update Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="form-container">
    <div class="cp-header">
      <span>Update Password</span>
    </div>

    <form [formGroup]="changePasswordFormGroup" (ngSubmit)="confirm()">
      
      <!-- Old Password -->
      <ion-item class="input-item" lines="none">
        <ion-input
          label="Old password"
          labelPlacement="floating"
          [type]="oldPasswordType()"
          formControlName="oldPassword"
          [counter]="true"
          [minlength]="minPasswordLength()"
          [maxlength]="maxPasswordLength()"
          [errorText]="oldPasswordError()">
        </ion-input>
        <ion-icon 
          slot="end"
          [name]="showOld() ? 'eye-off-outline' : 'eye-outline'" 
          class="password-toggle-icon"
          (click)="toggleOld()">
        </ion-icon>
      </ion-item>

      <!-- New Password -->
      <ion-item class="input-item" lines="none">
        <ion-input
          label="New password"
          labelPlacement="floating"
          [type]="newPasswordType()"
          formControlName="newPassword"
          [counter]="true"
          [minlength]="minPasswordLength()"
          [maxlength]="maxPasswordLength()"
          [errorText]="newPasswordError()">
        </ion-input>
        <ion-icon 
          slot="end"
          [name]="showNew() ? 'eye-off-outline' : 'eye-outline'" 
          class="password-toggle-icon"
          (click)="toggleNew()">
        </ion-icon>
      </ion-item>

      <!-- Repeat Password -->
      <ion-item class="input-item" lines="none">
        <ion-input
          label="Repeat new password"
          labelPlacement="floating"
          [type]="repPasswordType()"
          formControlName="repeatPass"
          [counter]="true"
          [minlength]="minPasswordLength()"
          [maxlength]="maxPasswordLength()"
          [errorText]="repeatPasswordError()">
        </ion-input>
        <ion-icon 
          slot="end"
          [name]="showRep() ? 'eye-off-outline' : 'eye-outline'" 
          class="password-toggle-icon"
          (click)="toggleRep()">
        </ion-icon>
      </ion-item>

      <ion-button 
        type="submit" 
        class="submit-button"
        expand="block" 
        [disabled]="changePasswordFormGroup.invalid">
        Confirm
      </ion-button>

    </form>
  </div>
</ion-content>