ion-header {
    background-color: transparent;
}

.toolbar {
    --background: var(--ion-color-secondary);
    padding: 10px;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

ion-title {
    font-size: 1.7rem;
}

ion-toolbar::part(container) {
    --background: transparent;
    background-color: transparent;
}

.pt-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5%;
}

ion-content {
    --padding-bottom: 80px;
}

.search-cities {
    --background: var(--ion-color-secondary);
    --color: #fff;
    --placeholder-color: #ffffff;
    --icon-color: #fff;
    --border-radius: 15px;
    --placeholder-opacity: 1;
}

ion-modal {
    --background: var(--ion-color-secondary);
    --border-radius: 25px;
}

.modal-content {
    --background: var(--ion-color-secondary);
}

ion-list {
    background-color: transparent;
}

.city-item {
    background-color: white;
    color: var(--ion-color-secondary);
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid white;
    font-weight: 500;
}

.city-item ion-label {
    margin-left: 20px;
    font-size: 1.5rem;
}

.city-item ion-avatar {
    border: 2px solid var(--ion-color-secondary);
}

.city-item ion-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.avatar-city {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

ion-button {
    --border-radius: 25px;
    text-transform: none;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    --background: var(--ion-color-secondary);
    color: white;
    --border-color: white;
    --border-width: 1.5px;
    --padding-start: 24px;
    --padding-end: 24px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

.toolbar ion-button ion-icon {
    margin-left: 8px;
    font-size: 1.1rem;
}