ion-segment-view {
    height: 100%;
}

:host {
  display: block;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
}

.id-container {
  width: 30px;
  text-align: center;
  font-weight: bold;
  color: var(--ion-color-medium);
  font-size: 0.9rem;
  margin-right: 8px;
}

.moderator-content {
  display: flex;
  align-items: center;
  gap: 8px;

  .username {
    font-weight: 600;
    font-size: 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.complete-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  min-width: 60px;
}