<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Personal Trainer Request</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="form-container">
    <div class="pt-header">
      <span>Personal Trainer Information</span>
    </div>

    <form [formGroup]="ptFormGroup" (ngSubmit)="confirm()">
      
      <!-- Email Professionale -->
      <ion-item class="input-item" lines="none">
        <ion-input
          label="Professional Email"
          labelPlacement="floating"
          type="email"
          formControlName="proemail"
          errorText="Invalid email (es: try@again.please)">
        </ion-input>
      </ion-item>

      <!-- Palestra -->
         <ion-item class="input-item" lines="none">
           <ion-select label="Gym" 
             labelPlacement="stacked" 
             formControlName="gym" 
             placeholder="Select Gym"
             interface="modal"
             [interfaceOptions]="customSelectFilter"
             (ionChange)="onGymChange($event)"
             errorText="Insert a valid Gym">
             @for (item of this.gyms(); track item.id) {
               <ion-select-option [value]="item">{{ item.name }}, {{ item.address }}</ion-select-option>
             }
             <ion-select-option value="ADD_NEW" class="add-new-option">Add new gym</ion-select-option>
           </ion-select>
         </ion-item>

      <!-- Città -->
         <!-- <ion-item class="input-item" lines="none">
           <ion-select label="City" labelPlacement="floating" formControlName="city" interface="modal" errorText="Insert a valid City">
             @for (item of this.cities(); track item.id) {
               <ion-select-option [value]="item">{{ item.name }} ({{ item.nation.name }})</ion-select-option>
             }
           </ion-select>
         </ion-item> -->

      <ion-button 
        type="submit" 
        class="submit-button"
        expand="block" 
        [disabled]="ptFormGroup.invalid && this.isCitySelected()">
        Confirm
      </ion-button>

    </form>
  </div>
</ion-content>